    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 12px;
    font: inherit;
    vertical-align: baseline;
    font-weight: normal;
    outline: none;
}
body{
    margin: 0px auto;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
}
/*.navbar-inverse{
    background-color: #333;
}*/
.navbar{
    border-radius: 0px;
    /*min-height: 20px;*/
    margin: auto;
    background-color: #fff;
    border: none;
/*    background-color: #333; */
}
.navbar-header{
    width: 100%;
    height: 30px;
    position: fixed;
    margin: 0 auto;
    padding-top: 2%;
    top: 0;
    z-index: 0;
    opacity: .9;
}
.navbar-nav > li> a{
    display: block;
}
.navbar-nav > li> a{
    color: #333;
}
.menu1 a.hover{
    color:#333;
    cursor: pointer;
}
.menu1{
    cursor: pointer;
}
a.visited{
    color:#79a9b4;
}
/*.works a.hover{
    background-color: grey;
}*/
.works:hover a {
    opacity: .2;
    color:#333;
}
.works-line a{
    color: #333;
}
.works:hover .work-line:hover a {
    opacity: 1;
    color:#333;
}

.work-line{
    
}
.navbar-collapse>li>a:hover, .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none; 
    background-color: inherit;
    color: #79a9b4;
    cursor: pointer;
}
/*.navbar-nav > li > a:hover{
        font-size:14px;
        padding: 15px 15px;
        color: #333;
        font-family: roboto;
        font-weight: 300;
}*/
.navbar-toggle .icon-bar{
    background-color:#fff;
}
.top-navigation-left{
   /* float:left;*/
    display: inline-block;
}
.top-navigation-right{
    /*float: left;*/
    display: block;
}
.collapse>a:hover{
 cursor: pointer;
}
.interactiondesigner{
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: left;
    font-weight: 100;
    font-family: roboto;
    color: #79a9b4;
    font-size: 72px;
    /*border: 1px solid red;*/
 /*   padding-bottom: 20px;
    padding-left: 10px;*/
}
.multidiscipline-down{
  float:right;
  font-weight: 200;
  font-size: 16px;
  font-family: roboto;
  position: relative;
  right: 280px;
}
.selected-projects-header{
    /*border: 1px solid red;*/
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 30px;
    font-family:roboto;
    font-weight: 400;
}
.selected-projects-content1{
    text-align: left;
    font-size: 24px;
    font-family: roboto;
    font-weight: 400;
    color: #333;
    padding:0px;
    /*border-top: 1px dotted grey;*/
    padding-top: 30px;
    padding-bottom: 30px;

}
.selected-projects-content1-label{
    text-align: left;
    padding:0px;
    /*border-top: 1px dotted grey;*/
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 14px;
    font-family: roboto;
    font-weight: 400;
    margin-bottom: 50px;
}
.label-default{
    background-color: #eeeeee;
    color: #333;
    padding-right: 8px;
    padding-left:8px;
    padding-top:8px;
    padding-bottom:8px;
    margin-left: 5px;
    margin-right: 3px;
    height: 24px;
    float: left;
    text-align: center;
    margin-bottom: 5px;
     font-family: roboto;
    font-weight: 400;
}
/*.custom{
    margin-top: 20px;
    display: inline-block;
}*/
ul{
    list-style-type: none;
}
.fb-link{
    background: url(images/Facebook_28_28_Not_On_Hover.png) no-repeat;
    float: left;
    height: 50px;
    width: 35px;
}
.fb-link:hover{
    background: url(images/Facebook_28_28.png) no-repeat;
}
.linkedin-link{
    background: url(images/Linkedin_28_28_Not_On_Hover.png) no-repeat;
    float: left;
    height: 50px;
    width: 35px;
}
.linkedin-link:hover{
    background: url(images/Linkedin_28_28.png) no-repeat;
}
.twitter-link{
    background: url(images/Twitter_28_28_Not_On_Hover.png) no-repeat;
    float: left;
    height: 50px;
    width: 35px;
}
.twitter-link:hover{
    background: url(images/Twitter_28_28.png) no-repeat;
}
.email-link{
    background: url(images/Mail_28_28_Not_On_Hover.png) no-repeat;
    float: left;
    height: 50px;
    width: 35px;
}
.email-link:hover{
    background: url(images/Mail_28_28.png) no-repeat;
}
.italics{
    font-style: italic;
    font-weight: 300;   
}
.copyrights{
    float:right;
    font-size: 14px;
    font-family: roboto;
    font-weight: 300;
    position: relative;
    top: 6px;
}
.footer-logos{
    margin-top: 80px;
}
#header_work{
    background: #860b0b;
    width: 100%;
    height: 40px;
    position: fixed;
    margin: 0 auto;
    padding-top: 2%;
    top: 0;
    z-index: 1;
    opacity: .9;
}

.overview{
    font-weight: 300;
    font-size: 30px;
    font-family: roboto;
    float: left;
    text-align: right;
    position: relative;
    right: 10px;
    margin-top: 3px;
}
.skills{
    font-weight: 300;
    font-size: 30px;
    font-family: roboto;
    float: left;
    text-align: right;
    position: relative;
    right: 10px;
    margin-top: 53px;
}
.skills-para{
    font-family: roboto;
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    margin-top: 50px;
    margin-left: 20px;
}
.challenge{
    font-weight: 300;
    font-size: 30px;
    font-family: roboto;
    float: left; 
    margin-top: 70px;
}
.research{
    font-weight: 300;
    font-size: 30px;
    font-family: roboto;
    float: left; 
    margin-top: 70px;
}
.designstories{
    font-weight: 300;
    font-size: 30px;
    font-family: roboto;
    float: left; 
    margin-top: 70px;
    margin-bottom: 30px;
}
.para1{
    font-family: roboto;
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    margin-left: 20px;
}
.para2{
    font-family: roboto;
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    margin-top: 20px;   
}
.problempara1{
    font-family: roboto;
    font-weight: 300;
    font-size: 24px;
    line-height: 35px;
    margin-top: 20px; 
    margin-bottom: 50px;
}
.laptopimage{
    background: url(images/Thalassemia_Login_Page.png) no-repeat;
    height: 731px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 150px;
    margin-bottom: 50px;
}
.designimage{
    background: url(images/stories.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 120px;
}
.taskflowimage{
    background: url(images/task_flow.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 145px;
}  
.thalamessiaimage{
    background: url(images/01.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 100px;
    margin-bottom: 70px;
}
.thalamessiaprofileimage{
    background: url(images/02.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 100px;
    margin-bottom: 70px;
}
.thalamessiacontactimage{
    background: url(images/03.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 100px;
    margin-bottom: 70px;
}
.thalamessiaexcelimage{
    background: url(images/04.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 100px;
    margin-bottom: 0px;
}
.projectthalamessiaimage1{
    background: url(images/05.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 100px;
    margin-bottom: 70px;
}
.projectthalamessiaimage2{
    background: url(images/06.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 100px;
    margin-bottom: 70px;
}
.projectthalamessiaimage3{
    background: url(images/07.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 100px;
    margin-bottom: 70px;
}
.editaddress1{
    background: url(images/08.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 100px;
    margin-bottom: 70px; 
}
.editaddress2{
    background: url(images/09.png) no-repeat;
    height: 810px;
    width: 1440px;
    display: block;
    float: left;
    position: relative;
    right: 100px;
    margin-bottom: 70px; 
}
@media screen and (min-width: 768px) {
    .top-navigation-left{
        display: block;
        float: left;
    }
    .top-navigation-right{
        display: block;
        float: right;
    }   
    .navbar-nav > li > a{
        font-size:14px;
        padding: 15px 15px;
        color: #333;
        font-family: roboto;
        font-weight: lighter;
        cursor: pointer;
    }
    .multidiscipline-down{
      float:right;
      position: relative;
      right: 102px;
    }
}
@media screen and (min-width: 992px) {

    .multidiscipline-down{
      float:right;
      position: relative;
      right: 350px;
    }
}
@media screen and (min-width: 1200px) {

    .multidiscipline-down{
      float:right;
      position: relative;
      right: 130px;
    }
}
@media screen and (min-width: 1366px) {

    .multidiscipline-down{
      float:right;
      position: relative;
      right: 132px;
    }
}
